<center>
<h1>Pick your Avatar</h1>
<a href="/name_pet" id="pinky"><img src="Content/img/pinky.jpg" alt="Picture of Pinky"/></a>
<a href="/name_pet" id="blinky"><img src="Content/img/blinky.jpg" alt="Picture of Blinky"/></a>
<a href="/name_pet" id="inky"><img src="Content/img/inky.jpg" alt="Picture of Inky"/></a>
</center>
