<center>
<h1>Pick your Tamagotchi</h1>
@* <img src="Content/img/inky.jpg" alt="Picture of Inky"/>
<img src="Content/img/blinky.jpg" alt="Picture of Blinky"/>
<img src="Content/img/pinky.jpg" alt="Picture of Pinky"/>
<br> *@
<a href="/pets/new" id="1"><img src="Content/img/pinky.jpg" alt="Picture of Pinky"/></a>
<a href="/pets/new" id="2"><img src="Content/img/blinky.jpg" alt="Picture of Blinky"/></a>
<a href="/pets/new"><img src="Content/img/inky.jpg" alt="Picture of Inky"/></a>
</center>
