<h1>Name Your Tamagotchi</h1>
<form action="/pets/select" method="post">
  <label for="new-pet-name">Enter a Name!</label>
  <input id="new-pet-name" name="new-pet-name" type="text">
  <button type="submit">Submit!</button>
</form>
