<h1>Name Your Tamagotchi</h1>
<form action="/pets" method="post">
  <label for="new-pet">Enter a Name!</label>
  <input id="new-pet" name="new-pet" type="text">
  <button type="submit">Submit!</button>
</form>
